/*
Title: stylesheet
Use: stylesheet for Millers Movies website
Author: Dustin Miller
School/Term: Southern Illinois University, Spring 2022
Developed: April 21, 2022
Tested: April 29, 2022
*/
/* code for the index page below */ 
#title{
	text-align:center;
	font-size:3.75em; /* 60 / 16 */
}
html{
	background-color: #ff0000; /* This could also be coded as Red */
	margin: 0 auto; 
}
p{
	text-align:center;
	font-size:1.75em;
 }
#body{
	text-align:center;
	width: 100%;
	max-width:900px;
	margin: 0 auto;}			
ol{							
	padding-left: 10px 1.0416%; /* 10 / 960 * 100 */	
	font-size:1.75em;
} 

#image{  
	width:900px; /* controls size of border or image container */ 
	height:500px; /* controls size of border or image container */
	max-width:100%; /* This makes the image scalable */
	background-size:100%; /* This makes the image scalable */
	border: 3px solid black; 
	border-radius: 30px;
}
figcaption{ /* code for the figure caption below */
	font-size:3em; /* 30 / 16 */ 
	font-weight:bold;
	padding-top:.75em;
	margin-bottom:1em;
	border-bottom:5px solid black;
}
/* Below is the code for the Moives page */
#header1{
	text-align:center;
	font-size:3.75em;  /* 60 / 16 */
}
.work{ /* code for body */ 
	width:100%;
	max-width:900px;
	margin:0 auto;
}
.movies{ /* code for whole page */
	background-color:#ff0000; /* could also be written as Red */
}
table{ /* code for the main table */
	width:100%;
	max-width:900;
	border: 2px solid black; /* could also be written as #000000 */ 
	border-collapse:collapse;
	margin:10px auto;
}
th, td{
	border:2px solid black; /* could also be written as #000000 */
	padding: .2em .7em;
	text-align:left;
	font-size:1.3em;
}
thead, tfoot{
	background-color:white; /* could also be written as #FFFFFF*/ 
	font-weight:bold;
}
#mainhe{
	font-size:1.5em 
}
#signup{
	color:white;
}
/* Below is the code for the Food and Drink page */ 
#head{
	text-align:center;
	font-size:3.75em; /* 60 / 16 */
} 
#fanddbody{
	width: 100%;
	max-width: 900px;
	margin: 0 auto;
}
.foodanddrink{
	text-align:center;
	background-color: #ff0000; /* can aslo be written as Red */
}

/* below is my code for ratings page */ 
#header{
	text-align:center;
	font-size:1.875em; } /* 30 / 16 */
.ratings{
	background-color:#ff0000; /* could also be written as Red */
}
#rbody{
	text-align:center;
	width: 100%;
	max-width:900px;
	margin: 0 auto;
}
/* Below is the code for the Contact page */
#he{
	text-align:center;
	font-size:3.75em;  /* 60 / 16 */
	font-weight:bold;
}
.main{ /* code for body */ 
	width: 100%;
	max-width: 900px;
	margin: 0 auto;
	padding:1.5em;
}
.Contact{ /* code for whole page */ 
	background-color:red; /* could also be written as #ff0000 */
}
#contact_form{ /* code for the contact form */ 
	text-align:center;
	padding:1.5em;
	max-width:845px;
	font-size:1.2em;
	font:90% arial, helvetica, sans-serif;
	margin:20px;
}
#message{ /* code for the message space */ 
	height:10em;
	width:100%;
	max-width:52em;
	font-family: Arial, Helvetica, sans-serif;
}
label{ 
	width:8em;
	font-weight:bold;
}
#inp{
	text-align:left;
	font-weight:bold;
}
input{
	margin-left:1em;
	margin-bottom:.5em;
	width:11em;
}
legend{ /* code for the fieldset legends or labels */ 
	font-weight:bold;
	font-size:1.5em;
}
input:focus{ /* makes focus on box you are filling out or have selected */ 
	border:2px solid black;
}
fieldset{
	margin-top:1em;
	margin-bottom:1em;
	padding-top:.5em;
}
br{
	clear:both;
}
#submit{
	font-size:1.25em;
}

/* Below is my code for my navigation menu */ 
#nav_menu ul { 
	list-style-type: none; }
#nav_menu ul li { float: left; }
#nav_menu ul li a {
	font-size:1.25em;
	text-align: center; 
	display: block;
	width:160px;
	padding: 1 em 0; /* padding above and below a elements */
	text-decoration: none;
	background-color: black;
	color: white;
	font-weight: bold;
	border-right: 2px solid white; }
#mobile_menu { 
	display: none;
}

/* below is my code for media queries */ 
